FIELDSET {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
    width: 350px;
    height: 450px;
}
LEGEND{
    padding: 2px;    
}
div
{
  margin-top: 10px;
  
}
.description,.price
  {
      margin-top: 20px;
  }
    div.buttons{
          float: right;
      }
      .image 
      {
          margin-top: 5px;
          margin-left: 20px;
          max-width: 180px;
          max-height: 180px;
      } 
 